#home {

    position:relative;
    background : url('../../assets/bgIMG.png');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;

    .app__wrapper {

        padding: 0;
        .copyright{
    display: none;

        }

    }

}

.text-padding{
    padding: 1rem; /* Update padding to 4rem */
    border: var(--white-color);
    border-radius: 40px;
    flex-direction: row;
    width: auto;
    color: #000000;
    background-color: #6ee5f8;
    box-shadow: 0 0 40px rgb(255, 255, 255);
    z-index: 1;
    text-align: right;
}




.app__header{
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction: row;
    background-color: #949ff5;

    padding: 6rem 2 rem 0;

    // add box to mciheal

    @media screen and (min-width:2000px){
        padding-top: 8rem;
    }    
    @media screen and (max-width:1200px){
        flex-direction: column;
    } 
    @media screen and (min-width:450px){
        padding-top: 6rem 1rem 2rem;
    }    
    

}
 
.app__header-info{
    flex:0.65;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;

    @media screen and (max-width:2000px){
        width: 100%;
        margin-right: 0rem;


    }


}

.app__header-badge{

    width:100%;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 90px;
    margin-left: 30px;
     ;
   
.head-text{

color: #000000;

}


    .badge-cmp,.tag-cmp{
        padding: 3rem; /* Update padding to 4rem */
        border: var(--white-color);
        border-radius: 40px;
        flex-direction: row;
        width: auto;
        color: #000000;
        background-color: #6ee5f8;
        box-shadow: 0 0 40px rgb(255, 255, 255);
        z-index: 1;

    }
    .tag-cmp{
        flex-direction: column;
        margin-top: 3rem;
        font-size: larger;
        margin-right: 6rem;
        
        

        p{
           
            width: 100%;
            text-transform: uppercase;
            text-align:right
            

        }
    }
    span{
        color: #ffffff;
        font-size: 2.5rem;
        @media screen and (min-width:2000px){

            font-size: 5rem;

        }

    }
    @media screen and (min-width:2000px){
 
            font-size: 5rem;

    }

}

@media screen and (max-width:1200px){
    .container{
    justify-content: flex-start;
    align-items: flex-start;
    }

}

.app__header-circles{
    flex:0.75;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    margin-left: 1rem;
    

    div{
        top: 50px;
        width: 10px;
        height: 10px;
        border-radius: 40%;
        background:var(--light-green);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0);
        img{
            width: 60%;
            height: 60%;



        }



        }
    div:nth-child(1){
        
        width: 200px;
        height: 200px;
        z-index: 1;
       
        } 
    div:nth-child(2){
        
        width: 200px;
        height: 200px;
        z-index: 1;
        margin-right: 0px;
        margin-left: 8px;
        }  
    div:nth-child(3){
        
        width: 200px;
        height: 200px;
        z-index: 1;
        
         } 
         
         
        @media screen and (min-width:2000px){
            div:nth-child(1){
                margin:3rem;
                width: 100px;
                height: auto;
                z-index: 1;
                } 
            div:nth-child(2){
                
                width: 100px;
                height: auto;
                z-index: 1;
                }  
            div:nth-child(3){
                margin:3rem;
                width: 100px;
                height: auto;
                z-index: 1;
                 }  


        }


        @media screen and (max-width:1200px){
            width:100%;
            flex-direction: row;
            flex-wrap: wrap;
            margin-left: 0; 

            div{
                margin: 1rem;



            }
        }

}

.app__header-img {
    //flex:1;
    width: 250%;
    height: auto;
    z-index: 1;
    margin-right: 250px;
    
   // display: flex;
    //justify-content: flex-end;
    //align-items: flex-end;
   // position: relative;

    .overlay_circle{
        position: absolute;
        left: 10;
        right: 20;
        bottom: 0;
        z-index: 0;
        width:90%;
        height:90%;
        color: #1fc4ae;

    }
    @media screen and (max-width:1200px){
        margin: 2rem 0;

    }



  }
  
  .app__header-img img {
    z-index: 1;
    width: 100%;
    height: auto;
    top: 50px;
 /* Maintain aspect ratio */
   // object-fit :contain;
    //z-index:1;
}

  

