.wrapper{

  position: relative;
  margin-top: 50%;
}

  .Webcam {
    margin-top: -10%;
    left:1%;
    position: absolute; /* Position the webcam absolutely */
   /* Align it to the left of the parent container */
    z-index: 9; /* Maintain the stacking context */
    width: 475px; /* Set width */
    height: auto; /* Set height */
    border-radius: 20px; 
    overflow: hidden;
    box-shadow: 0px 20px 10px rgba(86, 106, 255, 0.7);/* Set border radius */
    /* Uncomment the next line to add a box shadow */
    /* box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.7); */
  }

  .Canvas{

    margin-top: -10%;
    left:1%;
      position: absolute; 
      /* Align it to the left of the parent container */
      z-index: 9; /* Maintain the stacking context */
      width: 475px; /* Set width */
      height: 355px; /* Set height */
      border-radius: 20px;
   
  }
  .wrapperwebcam {
    position: relative;
   margin-bottom: 60%; /* Adjust height */
  }
  .video-container {
    width: 30%;
    left: 68%;
    margin-top: -14%;
    height: auto; /* Adjust width as needed */
    /* Center the video container */
    position: absolute;
    border-radius: 20px;  
    overflow: hidden;
    background-color: black;
    box-shadow: 0px 20px 10px rgba(86, 106, 255, 0.7); 
   
  }
  
  .webcamvid{

    position: relative;
    margin-top: -35%;
    width: 100%;
    height: 100%;

  }
 
 
  .microphone-container1 {
    position: absolute;
    box-shadow: 0px 20px 10px rgba(255, 151, 231, 0.7);
    left: 46%;
    transform: translateX(-50%);
    padding: 20px;
    background-color: #f8ffc2;
    border-radius: 30px;
    
    margin-top: 15%;
   
  }
  
  .microphone-container1 p {
    margin: 0;
  }
  

  .microphone-container1 button {
    position: relative;
    margin-right: 8px;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: rgb(255, 255, 255);
   }
   
   .microphone-container1 button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
   
   .microphone-container1 button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
   .microphone-container1 button::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
   }
   
   .microphone-container1 button::after {
    background-color: #fff;
   }
   
   .microphone-container1 button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }
  
  .microphone-container1 button.start {
    background-color: #7dfb82;
    color: #000000;
  }
  
  .microphone-container1 button.stop {
    background-color: #f34236;
    color: #fff;
  }
  
  .microphone-container1 button.reset {
    background-color: #00e5ff;
    color: #000000;
    
  }
  .microphone-container1 button.webcamButton {
    background-color: #ffdd6f;
    color: #000000;
    
  }